@import 'https://www.nerdfonts.com/assets/css/webfont.css';

:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #282936;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

i {
  background: var(--crust);
  color: var(--text);
  font-size: 13px;
}

body {
  background: var(--crust);
  color: var(--text);
  font-family: 'Segoe UI', 'JetBrainsMono Nerd Font', ui-monospace, monospace;
  font-size: 12px;
  white-space: nowrap;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: var(--crust);
  color: var(--text);
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 0px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

/* LEFT */
.logo {
  border: 2px solid var(--crust);
  border-radius: 4px;
  background: var(--crust);
  color: var(--rosewater);
  font-size: 13px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  border: 2px solid var(--crust);
  border-radius: 4px;
  background: var(--crust);
  color: var(--text);
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  padding: 4px 8px;
  margin: 2px;

  &.displayed {
    border: 2px solid var(--crust);
    border-radius: 4px;
    background: var(--crust);
    color: var(--text);
    padding: 4px 8px;
  }

  &.focused {
    border: 2px solid var(--green);
    border-radius: 4px;
    background: var(--green);
    color: var(--base);
    font-weight: 800;
    padding: 4px 8px;
  }
}

.title {
  background: var(--crust);
  color: var(--text);
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
  margin-left: 8px;
  margin-right: 8px;
}

/* RIGHT */
.paused-button {
  border: 2px solid var(--base);
  border-radius: 4px;
  background: var(--crust);
  color: var(--maroon);
  font-weight: 700;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.paused-button i {
  margin-right: 4px;
  color: var(--maroon);
}

.binding-mode {
  border: 2px solid var(--base);
  border-radius: 4px;
  background: var(--crust);
  color: var(--yellow);
  font-weight: 700;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.binding-mode i {
  margin-right: 4px;
  color: var(--yellow);
}

.tiling-direction {
  border: 2px solid var(--crust);
  border-radius: 4px;
  background: var(--crust);
  color: var(--teal);
  cursor: pointer;
  line-height: 1;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.cpu {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid var(--crust);
  border-radius: 4px;
  padding: 4px;
}

.cpu .text {
  background: var(--crust);
  color: var(--text);
}

.cpu i {
  margin-right: 4px;
  color: var(--green);
}

.cpu i.high {
  color: var(--red);
}

.cpu i.medium {
  color: var(--peach);
}

.cpu i.low {
  color: var(--yellow);
}

.memory {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid var(--crust);
  border-radius: 4px;
  padding: 4px;
}

.memory .text {
  background: var(--crust);
  color: var(--text);
}

.memory i {
  margin-right: 4px;
  color: var(--green);
}

.memory i.high {
  color: var(--red);
}

.memory i.medium {
  color: var(--peach);
}

.memory i.low {
  color: var(--yellow);
}

.audio {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid var(--crust);
  border-radius: 4px;
  padding: 4px;
}

.audio .text {
  background: var(--crust);
  color: var(--text);
}

.audio i {
  margin-right: 4px;
  color: var(--text);
}

.audio i.high {
  color: var(--red);
}

.audio i.medium {
  color: var(--peach);
}

.audio i.low {
  color: var(--yellow);
}

.battery {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid var(--crust);
  border-radius: 4px;
  padding: 4px;
}

.battery .text {
  background: var(--crust);
  color: var(--text);
}

.battery i {
  margin-right: 4px;
  color: var(--red);
}

.battery i.high {
  color: var(--green);
}

.battery i.medium {
  color: var(--peach);
}

.battery i.low {
  color: var(--yellow);
}

.network_down {
  background: var(--crust);
  color: var(--text);
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid var(--crust);
  border-radius: 4px;
  padding: 4px;
}

.network_down i {
  background: var(--crust);
  color: var(--teal);
  margin-right: 8px;
}

.network_up {
  background: var(--crust);
  color: var(--text);
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid var(--crust);
  border-radius: 4px;
  padding: 4px;
}

.network_up i {
  background: var(--crust);
  color: var(--flamingo);
  margin-right: 8px;
}

.date {
  background: var(--crust);
  color: var(--text);
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid var(--crust);
  border-radius: 4px;
  padding: 4px;
}

.date i {
  background: var(--crust);
  color: var(--text);
  margin-right: 4px;
}
