/* General */
* {
    font-size: 11px;
    color: #d8d8d8;
    font-weight: 700;
    font-family: "Segoe UI", "JetBrainsMono NFP";
}

.yasb-bar {
    background-color: #181818;
}

.widget {
    margin: 0px;
}

.icon {
    font-size: 16px;
    margin: 4px;
}

/* Left */
.home-widget {
    padding: 0px 0px;
}

.home-widget .icon {
    color: #ba8baf
}

.home-widget .icon:hover {
    color: #f7ca88;
}

.home-menu {
    background-color: #181818;
}

.home-menu .menu-item {
    padding: 8px 12px;
    font-size: 11px;
    font-family: "Segoe UI", "JetBrainsMono NFP";
    color: #d8d8d8;
    font-weight: 800;
}

.home-menu .menu-item:hover {
    background-color: #7cafc2;
    color: #181818;
}

.glazewm-workspaces {
    padding: 0px 4px;
}

.glazewm-workspaces .ws-btn {
    font-size: 11px;
    background-color: #181818;
    border: 1px#585858;
    border-radius: 4px;
    padding: 4px 8px;
    color: #181818;
}

.glazewm-workspaces .ws-btn.active {
    background-color: #a1b56c;
}

.glazewm-workspaces .ws-btn.populated {
    background: #181818;
    color: #d8d8d8;
}

.glazewm-workspaces .ws-btn:hover {
    background-color: #7cafc2;
}

.glazewm-workspaces .ws-btn.populated:hover {
    background-color: #ab4642;
}

.active-window-widget {
    margin: 0px;
}

.active-window-widget .widget-container .label {
    margin: 4px;
}

/* Right */
.glazewm-tiling-direction {
    padding: 0px 4px;
}

.glazewm-tiling-direction .btn {
    font-size: 16px;
    background-color: #f7ca88;
    border: 0px #f7ca88;
    border-radius: 4px;
    padding: 0px 4px;
    color: #181818;
}

.cpu-widget {
    padding: 0px 4px;
}

.cpu-widget .widget-container .icon {
    color: #dc9656;
    font-size: 12px;
}

.memory-widget {
    padding: 0px 4px;
}

.memory-widget .icon {
    color: #a1b56c;
    font-size: 12px;
}

.battery-widget {
    padding: 0px 4px;
}

.battery-widget .widget-container .icon {
    color: #a1b56c;
    font-size: 12px;
}

.battery-widget .widget-container .icon.status-low {
    color: #ab4642;
    font-size: 12px;
}

.battery-widget .widget-container .icon.status-medium {
    color: #dc9656;
    font-size: 12px;
}

.battery-widget .widget-container .icon.status-high {
    color: #f7ca88;
    font-size: 12px;
}

.battery-widget .widget-container .icon.status-full {
    color: #a1b56c;
    font-size: 12px;
}

.battery-widget .widget-container .icon.status-charging {
    color: #a1b56c;
    font-size: 12px;
}

.volume-widget {
    padding: 0px 4px;
}

.volume-widget .icon {
    color: #86c1b9;
    font-size: 12px;
}

.clock-widget {
    padding: 0px 4px;
}

.clock-widget .widget-container .icon {
    color: #ba8baf;
    font-size: 12px;
}

.calendar {
    background-color: #181818;
}

.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: #181818;
    color: #d8d8d8;
    font-family: "Segoe UI";
}

.calendar .calendar-table::item:selected {
    color: #f7ca88;
}

.calendar .day-label {
    margin-top: 20px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-family: "Segoe UI";
    font-size: 16px;
    color: #d8d8d8;
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}

.calendar .month-label {
    font-weight: 800;
}

.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: #d8d8d8;
    margin-top: -20px;
}
