/* General */
:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #282936;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

* {
  font-family: "RobotoMono Nerd Font";
  font-weight: bold;
  font-size: 15px;
  font-weight: 600;
  margin: 0px;
}

window#waybar {
  background-color: var(--crust);
  color: var(--text);
  padding: 0;
}

/*LEFT*/
#arch,
#workspaces,
#window,
#custom-arch {
  background: var(--crust);
  color: var(--pink);
}

#workspaces button {
  background-color: var(--crust);
  color: var(--text);
}

#workspaces button:hover {
  color: var(--lavender);
  background-color: var(--crust);
}

#workspaces button.active {
  background: var(--green);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--base);
  margin-left: 2px;
  margin-right: 2px;
}

#workspaces button.urgent {
  background-color: var(--crust);
  color: var(--red);
}

#window {
  color: var(--text);
  font-size: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

/*RIGHT*/
#cpu,
#memory,
#backlignt,
#pulseaudio,
#battery,
#clock,
#tray,

#cpu {
  background: var(--crust);
  border: 2px solid var(--crsut);
  border-radius: 8px;
  color: var(--text);
  padding: 4px 8px;
}

#cpu.idle {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--green);
  padding: 4px 8px;
}

#cpu.normal {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--green);
  padding: 4px 8px;
}

#cpu.warning {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--peach);
  padding: 4px 8px;
}

#cpu.critical {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--red);
  padding: 4px 8px;
}

#memory {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--text);
  padding: 4px 8px;
}

#memory.idle {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--green);
  padding: 4px 8px;
}

#memory.normal {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--green);
  padding: 4px 8px;
}

#memory.warning {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--peach);
  padding: 4px 8px;
}

#memory.critical {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--red);
  padding: 4px 8px;
}

#backlight {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--yellow);
  padding: 4px 8px;
}

#pulseaudio {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--teal);
  padding: 4px 8px;
}

#battery {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--green);
  padding: 4px 8px;
}

#battery.charging {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--sapphire);
  padding: 4px 8px;
}

#battery.warning {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--peach);
  padding: 4px 8px;
}

#battery.critical {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--red);
  padding: 4px 8px;
}

#clock {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--mauve);
  padding: 4px 8px;
}

#tray {
  background: var(--crust);
  border: 2px solid var(--crust);
  border-radius: 8px;
  color: var(--text);
  padding: 4px 8px;
}
