* {
  font-family: "RobotoMono Nerd Font";
  font-weight: bold;
  font-size: 15px;
  font-weight: 600;
  margin: 0px;
}

window#waybar {
  background-color: #181818;
  color: #d8d8d8;
  padding: 0;
}

#arch,
#workspaces,
#window,
#cpu,
#memory,
#backlignt,
#pulseaudio,
#battery,
#clock,
#tray,

/*LEFT*/
#custom-arch {
  background: #181818;
  color: #7cafc2;
}
#workspaces button {
  background-color: #181818;
  color: #d8d8d8;
}
#workspaces button:hover {
  color: #d8d8d8;
  background-color: #181818;
}
#workspaces button.active {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #ab4642;
  margin-left: 2px;
  margin-right: 2px;
}
#workspaces button.urgent {
  background-color: #181818;
  color: #ff0000;
}
#window {
  color: #d8d8d8;
  font-size: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

/*RIGHT*/
#cpu {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #7cafc2;
  padding: 4px 8px;
}
#cpu.idle {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #7cafc2;
  padding: 4px 8px;
}
#cpu.normal {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #a1b56c;
  padding: 4px 8px;
}
#cpu.warning {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #f7ca88;
  padding: 4px 8px;
}
#cpu.critical {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #ab4642;
  padding: 4px 8px;
}
#memory {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #7cafc2;
  padding: 4px 8px;
}
#memory.idle {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #7cafc2;
  padding: 4px 8px;
}
#memory.normal {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #a1b56c;
  padding: 4px 8px;
}
#memory.warning {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #f7ca88;
  padding: 4px 8px;
}
#memory.critical {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #ab4642;
  padding: 4px 8px;
}
#backlight {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #d8d8d8;
  padding: 4px 8px;
}
#pulseaudio {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #d8d8d8;
  padding: 4px 8px;
}
#battery {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #7cafc2;
  padding: 4px 8px;
}
#battery.charging {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #7cafc2;
  padding: 4px 8px;
}
#battery.critical {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #ab4642;
  padding: 4px 8px;
}
#battery.warning {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #f7ca88;
  padding: 4px 8px;
}
#clock {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #d8d8d8;
  padding: 4px 8px;
}
#tray {
  background: #181818;
  border: 2px solid #585858;
  border-radius: 8px;
  color: #d8d8d8;
  padding: 4px 8px;
}
